<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>

<title>Plano</title>

</head>
<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col col-sm-3 text-left">
					<a class="btn btn-default " th:href="@{/plano}">&laquo; Todos</a>
				</div>
				<div class="col col-sm-3 text-right" style="margin-top: 5px">
					<strong class="panel-title" th:text="${plano.nomePlano}"></strong>
				</div>
				<div class="col col-sm-6 text-right">

					<a th:href="@{/plano/editar/{id} (id=${plano.id})}" title="Editar"
						class="btn btn-sm btn-info glyphicon glyphicon-pencil"></a>

					<button type="button" class="btn btn-sm btn-danger glyphicon glyphicon-trash" data-toggle="modal"
				data-target="#ApagarModal"></button>
					
					
					
				</div>
			</div>
		</div>



		<table class="table text-center">
			<tbody>
				<tr>
					<td>Nome do Plano</td>
					<td th:text="${plano.nomePlano}"></td>
				</tr>
				<tr>
					<td>Valor</td>
					<td th:text="${{plano.valor}}"></td>
				</tr>
				<tr>
					<td>Velocidade de Download</td>
					<td th:text="${{plano.velocidadeDownKb}} + ' Kb/s'"></td>
				</tr>
				<tr>
					<td>Velocidade de Upload</td>
					<td th:text="${{plano.velocidadeUpKb}} + ' Kb/s'"></td>
				</tr>
			</tbody>
		</table>
			
			<!-- Modal -->
			<div class="modal fade" id="ApagarModal" tabindex="-1" role="dialog"
				aria-labelledby="ModalApagar">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="modalApagarTitle"
								th:text="|Apagar o plano ${plano.nomePlano}"></h4>
						</div>
						<div class="modal-body">
							<p
								th:text="|Tem certeza que desaja apagar o plano ${plano.nomePlano}|+'?'"></p>
							<p>A operação não poderá ser desfeita!</p>
						</div>
						<div class="modal-footer">
							<form th:action="@{/plano/{id}(id=${plano.id})}"
								th:method="DELETE">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cancelar</button>
								<input type="submit" class="btn btn-danger" value="Apagar" />
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

</section>

</html>